<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <context:component-scan base-package="polymorphism"></context:component-scan>
	<bean id="tv" class="polymorphism.SamsungTV">
		<constructor-arg index="0" ref="apple" />
		<constructor-arg index="1" value="270000" />
		<property name="speaker" ref="apple" />
		<property name="price" value="270000" />
	</bean> 
	
	<bean id="sony" class="polymorphism.SonySpeaker" />
	<bean id="apple" class="polymorphism.AppleSpeaker" />
	-->
	
	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
</beans>
